@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .contactInput {
    @apply w-full text-base text-white placeholder:text-textLight border border-b-[1px] border-transparent border-b-textGreen py-3 px-2 outline-none focus-within:border-[1px] focus-within:border-textGreen duration-100 bg-zinc-800;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #201f27;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  background-color: #48dbfb60;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #46495a;
}

::-webkit-scrollbar-thumb {
  background-color: #e1e5ee;
  border-radius: 8px;
}

pre::-webkit-scrollbar {
  height: 6px;
}

/* Heading custom style for rehype-autolink-headings */
.heading-anchor {
  text-decoration: none;
}

.heading-anchor:hover:after {
  content: ' #';
  color: #e1e5ee;
}

iframe {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: --background-start-rgb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blob {
  background: conic-gradient(from 2.35rad, #c76000, rgba(7, 29, 228, 0.5));
}

.linkContainer {
  perspective: 120px;
  perspective-origin: bottom;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
}


@layer components {
  .btn {
    @apply bg-green-600 py-2 px-4 rounded-lg  inline-block font-semibold text-slate-700 border border-green-600 hover:bg-transparent hover:text-green-600 duration-300 transition-all shadow-[3px_3px_0px_black] hover:shadow-none hover:translate-x-[3px] hover:translate-y-[3px]
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  .demoslider .swiper-button-prev,
  .demoslider .swiper-button-next {
    @apply bg-green-600 text-white top-[85%] md:top-[85%] w-[46px] rounded-md z-20
  }
  .demoslider .swiper-button-prev {
    @apply left-[35%] md:left-[40%] lg:left-[97%]
  }
  .demoslider .swiper-button-next {
    @apply right-[35%] md:right-[40%] lg:right-[5%]
  }
  .demoslider .swiper-button-prev::after,
  .demoslider .swiper-button-next::after {
    @apply text-lg
  }

}

.gradient-text {
background: linear-gradient(to right, #057f60, #70d6ff, #eab308, #02a4f5, #4cc9f0, #00f5d4, #eab308);
  background-size: 300% 300%;
  background-clip: text;
};

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 8));
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(calc(-150px * 8));
  }
  100% {
    transform: translateX(0px);
  }
}